extends base-template.pug

block content
  .courses-container.d-flex.gap-2
      .col-auto.treeview-column.p-2(onclick="removeSelected(event, this);")
        .d-flex.flex-column.h-100
          .d-flex.justify-content-end.align-items-center.sub-navbar.px-1.pb-2.gap-2(onclick="removeSelected(event, this);")
            btn.fa-solid.fa-circle-plus.action-icon(onclick="createNewElement();")
            btn.fa-solid.fa-pen-to-square.action-icon(onclick="editElement();")
            btn.fa-solid.fa-trash-can.action-icon(
              type="button", 
              data-bs-toggle="modal",
              data-bs-target="#deleteElementModal"
            )
          #coursesTreeView(onclick="removeSelected(event, this);")
            if courses.length > 0
              .container.p-0
              each course in courses 
                .row.p-1.m-0.selectable.selectable-hover(
                  id=`course-${course.course_id}`,
                  data-course-id=course.course_id,
                  data-course-name=course.course_name,
                  onclick="onClickSelectable(this)",
                  tabindex="0"
                )
                  .col-auto.p-0.pe-1.angle-column
                    i.fa-solid.fa-angle-right
                  .col.p-0.overflow-dots
                    span=course.course_name
                if course.assignments.length > 0
                  .row.px-1.m-0(id="treeViewCourse" + course.course_id, hidden)
                    .col-auto.p-0.pe-1.angle-column.d-flex.justify-content-center
                      .vl
                    .col.p-0
                        each assignment in course.assignments
                          .row.p-1.m-0.selectable.selectable-hover(
                            id=`assignment-${assignment.assignment_id}`, 
                            data-assignment-id=assignment.assignment_id, 
                            data-assignment-name=assignment.assignment_name,
                            data-course-id=course.course_id,
                            data-course-name=course.course_name, 
                            onclick="onClickSelectable(this)",
                            tabindex="0"
                          )
                            .col-auto.p-0.pe-1.angle-column
                              i.fa-solid.fa-angle-right
                            .col.p-0.overflow-dots
                              span=assignment.assignment_name
                          if assignment.tasks.length > 0
                            .row.px-1.m-0(id="treeViewAssignment" + assignment.assignment_id, hidden)
                              .col-auto.p-0.pe-1.angle-column.d-flex.justify-content-center
                                .vl
                              .col.p-0
                                  each task in assignment.tasks
                                    .row.p-1.m-0.selectable.selectable-hover(
                                      id=`task-${task.task_id}`, 
                                      data-task-id=task.task_id, 
                                      data-task-name=task.task_name,
                                      data-assignment-id=assignment.assignment_id,
                                      data-assignment-name=assignment.assignment_name,
                                      data-course-id=course.course_id,
                                      data-course-name=course.course_name,
                                      onclick="onClickSelectable(this)",
                                      tabindex="0"
                                    )
                                      .col-auto.p-0.pe-1.angle-column
                                        i.fa-regular.fa-file-lines
                                      .col.p-0.overflow-dots
                                        span=task.task_name
      .col.configuration-column.p-2
        #configContent.h-100(hidden)
          .d-flex.flex-column.h-100
            .d-flex.flex-row-reverse.justify-content-between.align-items-center.path-grey.sub-navbar.px-1.pb-2
              .d-flex.flex-row.align-items-center
                  span#pathCourseName.path-text courseName 
                  #selectedCourseId(hidden)
                  i.fa-solid.fa-angle-right.mx-1
                  span#pathAssignmentName.path-text assignmentName
                  #selectedAssignmentId(hidden)
                  i.fa-solid.fa-angle-right.mx-1
                  span#pathTaskName.path-text taskName 
                  #selectedTaskId(hidden)
              .d-flex.flex-row.justify-content-end
                button#saveConfigBtn.btn.btn-sm.btn-primary(onclick="updateConfiguration('" + user.email + "')") Speichern
            textarea#configuration.form-control.p-1.pt-2(
              spellcheck="false", onkeyup="checkValidJSON();"
            )
  .modal.fade#deleteElementModal(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header.pb-0
          h1.modal-title.fs-5#exampleModalLabel LÖSCHEN BESTÄTIGEN
          button.btn-close.btn-close-white(type="button", data-bs-dismiss="modal", aria-label="Close")
        .modal-body
          span#deleteElementText
        .modal-footer
          button#deleteElementBtn.btn.btn-danger(type="button", data-bs-dismiss="modal") Löschen
          button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Schließen
          


